<%#= render "partials/edit-deed-fields" %>
<!-- Create Deed Modal -->
<div class="modal fade" id="deed-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<div id="modal-edit-fields">
				</div>
		</div>
	</div>
</div>