<div class='navbar navbar-default bg-override'>
	<div class="container-fluid">
		<div class="navbar-header">
		</div>
		
		<p class="navbar-text"><span class="bluegrey">friend</span>indeed </p>
		
		<!-- Displays the current user helper method if user is logged in -->
		<div class="pull-right">
			<div class="navbar-right-override">
			<% if current_user %>
				Welcome <strong><%= link_to current_user.name, current_user %></strong>! |
				<%= link_to "Sign out", signout_path, id: "sign_out"%>
			<% end %>
			</div>
		</div>
	</div>
</div>


