<div class="container-fluid">
  <%= render "partials/nav" %>

  <h1 class="text-center">How to Use FriendIndeed</h1>
  <br>
<!--   <div class="navbar navbar-default navbar-howto" id="howtoNav">
    helolalsjfd;lajs;lfkj<br>
    a;sdlkjfas;lkdjf;alksdfj;alksdfj
  </div> -->
  

<div class="howtoBox">
  <div class="howto">
    <div class="howto-body">
      <div class="col-md-12">
        <div class="howto-card">
          <p class="text-center">Sign Up Using Facebook</p>
        </div>
      </div>
    </div>
  </div>
    <div class="howto">
    <div class="howto-body">
      <div class="col-md-12">
        <div class="howto-card">
          <p class="text-center">Create your deed</p>
        </div>
      </div>
    </div>
  </div>
    <div class="howto">
    <div class="howto-body">
      <div class="col-md-12">
        <div class="howto-card">
          <p class="text-center">View your collection</p>
        </div>
      </div>
    </div>
  </div>
    <div class="howto">
    <div class="howto-body">
      <div class="col-md-12">
        <div class="howto-card">
          <p class="text-center">Share with friends to pass the buck</p>
        </div>
      </div>
    </div>
  </div>
  <div class="howto">
    <div class="howto-body">
      <div class="col-md-12">
        <div class="howto-card">
          <p class="text-center">See how your deed spread, along with deeds others are doing</p>
        </div>
      </div>
    </div>
  </div>


    <div class="dockBottom-last">
      <a class="page-scroll btn-circle" href="#page-top"><i class="fa fa-angle-double-up fa-4x arrow-color animated pulse infinite"></i></a>
    </div>
 </div><!--closes container-fluid -->


