<div class="container-fluid">
  <%= render "partials/nav" %>

  <h1 class="text-center">How to Use FriendIndeed</h1>
      <div class="navbar navbar-default navbar-howto">
      helolalsjfd;lajs;lfkj
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="about-card">
        <p class="text-center">Sign Up Using Facebook</p>
      </div>
    </div>

    <div class="col-md-4 about-card">
      <div class="about-card">
        <p class="text-center">Write Your Deeds</p>
      </div>
    </div>

    <div class="col-md-4 about-card">
      <div class="about-card">
        <p class="text-center">See Other Deeds</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 about-card">
      <div class="about-card">
        <p class="text-center">Share with Friends</p>>
      </div>
    </div>

    <div class="col-md-4 about-card">
      <div class="about-card">
        <p class="text-center">See your Connections</p>
      </div>
    </div>

    <div class="col-md-4 about-card">
      <div class="about-card">
        <p class="text-center">test</p>
      </div>
    </div>
  </div>
</div>