<div class="container-fluid" id="page-top">
  <%= render "partials/nav" %>

  <h1 class="text-center" id="about-page-title">How to Use</h1>
  <p id="logo-about" class="text-center"><span class="bluegrey">friend</span><span class="white">indeed</span></p>
  <br>
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="aboutTitle">1. Create an account using Facebook to join our community</div>
      <img class="aboutImage" src="/assets/howto1.jpg" width="800px">
    </div>


    <div class="col-sm-8 col-sm-offset-2">
     <div class="aboutTitle">2. Write out the deeds you did for your friends</div>
     <img class="aboutImage" src="/assets/howto2.jpg" width="800px">
   </div>        


   <div class="col-sm-8 col-sm-offset-2">
   <div class="aboutTitle">3. View your collection of deeds</div>
    <img class="aboutImage" src="/assets/howto3.jpg" width="800px">
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="aboutTitle">4. Share the app to pass it on and remember to tag your friends!</div>

    <img class="aboutImage" src="/assets/howto4-1.png" width="800px">
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="aboutTitle">5. See how your deeds influenced your friends and others!</div>

    <img class="aboutImage" src="/assets/howto5.jpg" width="800px">
  </div>      
<!--         <div class="howtoBox">
          <div class="howto howto1">
            <div class="howtoTitle">Create an account using Facebook to join our community</div>      
          </div>

          <div class="howto howto2">
            <div class="howtoTitle">Write out the deeds you did for your friends</div>
          </div>

          <div class="howto howto3">
            <div class="howtoTitle">View your collection of deeds</div>
          </div>

          <div class="howto howto4">
            <div class="howtoTitle">Share the app on your friends' Facebook timeline</div>
          </div>

          <div class="howto howto5">
            <div class="howtoTitle">See how your deeds influenced your friends and others! </div>
          </div>
        -->
        <div class="dockBottom-last">
          <a class="page-scroll" href="#page-top"><i class="fa fa-arrow-up fa-4x arrow-color"></i></a>
          <p>back to top</p>
        </div>

      </div><!-- closes howto box -->
    </div><!--closes container-fluid -->


