<div class="container-fluid" id="page-top">
  <%= render "partials/nav" %>

  <h1 class="text-center">How to Use FriendIndeed</h1><br>
    
  <div class="howtoBox">

    <div class="howto howto1">
      <div class="howto-Title">1. Log in with Facebook</div>      
    </div>

    <div class="howto howto2">
      <div class="howtoTitle">2. Create your deed</div>
    </div>

    <div class="howto howto3">
      <div class="howtoTitle">3. View your deeds</div>
    </div>

    <div class="howto howto4">
      <div class="howtoTitle">4. Share with friends to pass the buck</div>
    </div>

    <div class="howto howto5">
      <div class="howtoTitle">5. View how your kindness spread, along with deeds done by others</div>
    </div>

    <div class="dockBottom-last">
      <a class="page-scroll" href="#page-top"><i class="fa fa-arrow-up fa-4x arrow-color"></i></a>
      <p>back to top</p>
    </div>

  </div><!-- closes howto box -->
</div><!--closes container-fluid -->


