<%= render "partials/nav" %>

<h1 class="text-center">How to Use FriendIndeed</h1>

<div class="text-center">
  <p>Sign Up Using Facebook</p>
</div>

<div class="text-center">
  <p>Write Your Deeds</p>
</div>

<div class="text-center">
  <p>See Other Deeds</p>
</div>

<div class="text-center">
  <p>Share with Friends</p>
</div>

<div class="text-center">
  <p>See your Connections</p>
</div>
