<div class="navbar navbar-override">
	<div class="friendindeed text-center">
		<p><span class="bluegrey"> friend</span>indeed </p>
	</div>
</div>


<div class="container">
<section id="slide1">
	<div class="row">
		<div class="col-md-3">
		</div>
		
		<div class="col-md-9">	
			<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
		</div>
	</div>
</section>
</div>
