	<div class="navbar navbar-override">
		<div class="friendindeed text-center">
			<p><span class="bluegrey"> friend</span>indeed </p>
		</div>
	</div>

	<div class="row bggrid">
		<div class="col-sm-3">
			<div class="pagenum">1</div>
		</div>
		<div class="col-sm-9">
			<div class="blah">
			<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>		
			</div>	
		</div>
	</div>
	