<div class="navbar navbar-override">
	<div class="friendindeed text-center">
		<p><span class="bluegrey"> friend</span>indeed </p>
	</div>
</div>

<!-- Section 1 -->
<section id="intro" data-speed="6" data-type="background">
    <div class="container">
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn-signin"%>   
    </div>
</section>

<!-- Section 2 -->
<section id="home" data-speed="4" data-type="background">
    <div class="container">
        More content goes here!
    </div>
</section>

<!-- Section 3 -->
<section id="about" data-speed="2" data-type="background">
    <div class="container">
        This is the final section!
    </div>
</section>

</div>
