/************************************/
/************** NAVBAR **************/
/************************************/
.navbar {
	background-color: #F15545;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-color: white;
	border-bottom-style: solid;
	border-radius: 0px;
	z-index: 2;
	margin-bottom: 35px;
}

.navbar-default 
.navbar-text {
	color: #ffffff;
}

//removes underline when collapsed
.navbar-header a:hover {
	text-decoration: none;
}

.navbar-text {
	font-family: 'Sacramento', cursive;
	font-size: 65px;
	color: #ffffff;
	margin: 0px 0px 5px 0px;
}
.navbar-right-override {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	padding-top: 30px;
	color: #3E5967;

}
.navbar-right-override > a {
	color: #3E5967;
}
.navbar-right-override > a:hover {
	color: #49e2f2;
}
.height-override {
	height: 100px;
}
#nav_line {
	margin-top: 0px;
}
.nav_links {
	font-size: 20px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	font-size: 18px;
	margin-top: 28px;
}
// Links on Navbar
.navbar-default .navbar-nav > li > a {
	color: #3E5967
}
.navbar-default .navbar-nav > li > a:hover {
	color: #49E2f2;
}
.link-margin-override {
	font-size: 16px;
	margin-top: 40px;
}
.link_override {
	font-size: 16px;
	color:  #3E5967
}
.link_override:hover,
.link_override:focus {
	font-size: 16px;
	color:  #49E2f2;
	text-decoration: none;
	outline: none;
}
.li_override {
	color: #3E5967;
}
.li_override:hover,
.li_override:focus {
	text-decoration: none;
	outline: none;
}

// Header collapse menu icon
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: $oj;
}
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: $oj;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	border-color: #fff;
	background-color: #fff;
	transition: background-color 0.2s ease-out, 
				border-color 0.2s ease-in;
}

// Navigation for how to page

.navbar-howto {
	text-align: center;
	width: 100%;
	background: $oj;
}
 #howtoNav{
 	padding-top: 10px;
}