html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	background-color: #F15545;
	font-family: 'Raleway', sans-serif;
	color: #3E5967;
}
.bluegrey {
	color: #3E5967;
}
.white {
	color: #ffffff;
}
.ltblue{
	color: #49E2f2
}
.blue{
	color: #306D9F
}
.oj {
	color: #F15545
}
.green {
	color: #06CC97
}
.completed-deeds-title {
	font-size: 28px;
}
#sign_out:hover {
	text-decoration: none;
}
.filogo {
	font-size: 300px;
		font-family: 'Sacramento', cursive;
		text-align: center;
}

// profile box
.bg {
	background-color: #FFFFFF;
	padding: 15px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.profilepic_box img{
	border: 1px solid #3E5967;
}
/************************************/
/*********** Landing Page ***********/
/************************************/

.bluegrey_logo {
	color: #3E5967;
	background-color: #F15545
}
.white_logo{
	color: #ffffff;
	background-color: #F15545
}
.fid_logo {
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	z-index: 2;
	background-color: #F15545;
	position: relative;
}
.fid_logo_alt {
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	z-index: 2;
	background-color: transparent;
	position: relative;
}
#logo_line {
	margin-top: -55px;
	z-index: 2;
}
// .navbar > .navbar_logo {
// 	// background-color: #F15545;
// 	margin-bottom: 35px;
// 	border-top: 0px;
// 	border-right: 0px;
// 	border-bottom: 0px;
// 	border-left: 0px;
// 	border-color: transparent;
// 	border-bottom-style: solid;
// 	border-radius: 0px;
// 	// z-index: 2;
// }

.pad-section {
  padding: 50px 0;
}
.layer {
	background-color: rgba(0,0,0,.5)
}
#intro {
  background: url(background2.jpg) no-repeat center center fixed;
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // margin-top: 40px;
}
#about {
  background-color: #F15545; 
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 50px 0;
  color: #fff;

}
#middle-image {
  background: url(background1.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#howtouse {
  background-color: #306d9f;
  color: #ffffff;
}
#howtouse .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}


/************************************/
/****** landing page logo line ******/
footer {
	background-color: white;
 	padding: 20px 0;
}
footer .glyphicon {
	color: #333333;
	font-size: 60px;
}
footer .glyphicon:hover {
	color: #306d9f;
}

/************************************/
/************** NAVBAR **************/
/************************************/
.navbar {
	background-color: #F15545;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-color: white;
	border-bottom-style: solid;
	border-radius: 0px;
	z-index: 2;
	margin-bottom: 35px;
}

.navbar-default 
.navbar-text {
	color: #ffffff;
}
.navbar-text {
	font-family: 'Sacramento', cursive;
	font-size: 65px;
	color: #ffffff;
	margin: 0px 0px 5px 0px;
}
.navbar-right-override {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	padding-top: 30px;
	color: #3E5967;

}
.navbar-right-override > a {
	color: #3E5967;
}
.navbar-right-override > a:hover {
	color: #49e2f2;
}
.height-override {
	height: 100px;
}
#nav_line {
	margin-top: -35px;
}
.nav_links {
	font-size: 20px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	font-size: 18px;
	margin-top: 28px;
}
// Links on Navbar
.navbar-default .navbar-nav > li > a {
	color: #3E5967
}
.navbar-default .navbar-nav > li > a:hover {
	color: #49E2f2
}
.link-margin-override {
	font-size: 16px;
	margin-top: 40px;
}
.link_override {
	font-size: 16px;
	color:  #3E5967
}
.link_override:hover,
.link_override:focus {
	font-size: 16px;
	color:  #49E2f2;
	text-decoration: none;
	outline: none;
}
.li_override {
	color: #3E5967;
}
.li_override:hover,
.li_override:focus {
	text-decoration: none;
	outline: none;
}

// Header collapse menu icon
.navbar-default .navbar-toggle .icon-bar {
	background-color: #49E2f2;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #FFFFFF;
}
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #FFFFFF;
}
.navbar-default .navbar-toggle {
	border-color: #49E2f2;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #49E2f2;
	transition: background-color 0.2s ease-out, 
				border-color 0.2s ease-in;
}

/************************************/
/****** Signin | Signout links ******/
/************************************/
// strong > a {
// 	color: #3E5967;
// }
// strong > a:hover {
// 	color: #49e2f2;
// 	text-decoration: none;
// }

/************************************/
/************** BUTTONS *************/
/************************************/
.btn-signin {
	background-color: #3B5998;
	border-radius: 0px;
	color: #ffffff;
	font-size: 30px;
	padding: 20px 25px;
}
.btn-signin:hover,
.btn-signin:focus{
	background-color: white;
	color: #3B5998;
	outline: none;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
	cursor: pointer;
	text-decoration: none
}
.btn-custom {
	background: transparent;
	border-radius: 0px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 15px;
	border: 1px solid #ffffff;
	width: 140px;
	height: auto;
	margin: 5px 0px;
	outline: none;
}
.btn-custom:hover,
.btn-custom:focus {
	background: #ffffff;
	color: #F15545;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
	text-decoration: none;
}
.btn-custom-alt {
	background: #F15545;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 18px;
	padding: 10px 15px;
	border: 1px solid #F15545;
	width: 140px;
	height: auto;
	margin: 5px 0px;
	outline: none;
}
.btn-custom-alt:hover,
.btn-custom-alt:focus {
	background: #FFFFFF;
	color: #F15545;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
}
// Fixes width on Profile button 
.btn-profile{
	width: auto;
}
// Removes button outline 
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
	outline: none;
}
.btn-fbshare {
	width: 142px;
	height: 48px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.btn-fbshare:hover {
	transition: background-color 0.2s ease-out, 
				border-color 0.2s ease-in;	
	border: 1px  solid white;
	color: black;
}
// vertical alignment fix for Cancel button in Deed Edit screen
.vert_fix{
	vertical-align: top
}
/************************************/
/*************** MODAL **************/
/************************************/
.form-control {
	color: #3E5967;
}
#myModalLabel,
#myEditModalLabel {
	font-size: 20px;
	font-weight: bold;
	color: #F15545;
}
.edit-deed-margin {
	margin-top: 150px;
}
/************************************/
/************ DEED CARD *************/
/************************************/
.deed-container {
	width: 90%;
	margin: auto;
}
.deed-card{
	background-color: white;
	height: 380px;
	font-size: 14px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	margin-bottom: 10px;
	position: relative;
}
.deed-body{
	font-size: 18px;
	padding: 15px;
}	
.deed-name{
	font-size: 24px;
	font-weight: bold;
	text-align: center;	
	border-top: #D3D3D3 1px solid;
	width: 90%;
	position: absolute;
	bottom: 0;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10px;
	padding-top: 10px;
}
.deed-option {
	text-align: right;
	width: 100%;
	position: absolute;
	bottom: 60px;
	padding-right: 5%;

}
.deed-link {
	font-size: 18px;
	color: #3E5967
}
.deed-link:hover {
	color: #49e2f2;
	text-decoration: none;
	cursor: pointer;
}
.link-divider {
	color: #3E5967;
	font-size: 18px;
}
.invited_link {
	font-size: 18px;
	color: #49E2f2;
	font-weight: bold;
}
.invited_link:hover {
	color: #3E5967;
	text-decoration: none
}