$mainFont: 'Raleway', sans-serif;
$bluegrey: #3E5967;
$oj: #F15545;
$fbBlue:#3B5998;
$green: #06CC97;

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	background-color: #F15545;
	font-family: 'Raleway', sans-serif;
	color: #3E5967;
}
.bluegrey {
	color: #3E5967;
}
.white {
	color: #ffffff;
}
.ltblue{
	color: #49E2f2
}
.blue{
	color: #306D9F
}
.oj {
	color: #F15545
}
.green {
	color: #06CC97
}
.completed-deeds-title {
	font-size: 28px;
}
#sign_out:hover {
	text-decoration: none;
}
.filogo {
	font-size: 300px;
		font-family: 'Sacramento', cursive;
		text-align: center;
}

// profile box
.bg {
	background-color: #FFFFFF;
	padding: 15px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.profilepic_box {
	width:202px;
}
.profilepic_box img{
	border: 1px solid #3E5967;
	margin-bottom: 5px;
}
.profile-btn-box {
	padding: 0px;
}
.peopleInvitedTitle {
	font-family: $mainFont;
	font-size: 28px;
	font-weight: bold;
	margin-top: 0px;
}
.peopleInvited {
	font-size: 18px;
	color: $oj;
	&:hover {
		color: $oj;

	}
}
/************************************/
/*********** Landing Page ***********/
/************************************/

.bluegrey_logo {
	color: #3E5967;
	background-color: #F15545
}
.white_logo{
	color: #ffffff;
	background-color: #F15545
}
.fid_logo {
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	z-index: 2;
	background-color: #F15545;
	position: relative;
}
.fid_logo_alt {
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	z-index: 2;
	background-color: transparent;
	position: relative;
}
#logo_line {
	margin-top: -55px;
	z-index: 2;
}

.pad-section {
  padding: 50px 0;
}
.layer {
	background-color: rgba(0,0,0,.5)
}
#intro {
	background: url('http://i.imgur.com/XH0xtZP.jpg') no-repeat center center fixed;
	// background-image: url(background2.jpg) no-repeat center center fixed;
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about {
  background-color: #F15545; 
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 50px 0;
  color: #fff;

}
#middle-image {
	background: url('http://i.imgur.com/M93VCSn.jpg') no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#howtouse {
  background-color: #306d9f;
  color: #ffffff;
}
#howtouse .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}


/************************************/
/****** landing page logo line ******/
/************************************/
footer {
	background-color: white;
 	padding: 20px 0;
}
footer .glyphicon {
	color: #333333;
	font-size: 60px;
}
footer .glyphicon:hover {
	color: #306d9f;
}


/************************************/
/****** Signin | Signout links ******/
/************************************/
// strong > a {
// 	color: #3E5967;
// }
// strong > a:hover {
// 	color: #49e2f2;
// 	text-decoration: none;
// }


/************************************/
/*************** MODAL **************/
/************************************/
.form-control {
	color: #3E5967;
}
#myModalLabel,
#myEditModalLabel {
	font-size: 20px;
	font-weight: bold;
	color: #F15545;
}
.edit-deed-margin {
	margin-top: 150px;
}
/************************************/
/************ DEED CARD *************/
/************************************/
.deed-container {
	width: 90%;
	margin: auto;
}
.deed-card{
	background-color: white;
	height: 380px;
	font-size: 14px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	margin-bottom: 10px;
	position: relative;
}
.deed-body{
	font-size: 18px;
	padding: 15px;
}	
.deed-name{
	font-size: 24px;
	font-weight: bold;
	text-align: center;	
	border-top: #D3D3D3 1px solid;
	width: 90%;
	position: absolute;
	bottom: 0;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10px;
	padding-top: 10px;
}
.deed-option {
	text-align: right;
	width: 100%;
	position: absolute;
	bottom: 60px;
	padding-right: 5%;

}
.deed-link {
	font-size: 18px;
	color: #3E5967
}
.deed-link:hover {
	color: #49e2f2;
	text-decoration: none;
	cursor: pointer;
}
.link-divider {
	color: #3E5967;
	font-size: 18px;
}
.invited_link {
	font-size: 18px;
	color: $oj;
	font-weight: bold;
}
.invited_link:hover {
	color: $oj;	
}
.about-card {
  width: 100px;
  height: 200px;
  background-color: #FFF;
}
