body {
	background-color: #F15545;
	font-family: 'Raleway', sans-serif;
	color: #3E5967;
}
.bluegrey {
	color: #3E5967;
}
.white {
	color: #ffffff;
}
.set-width {
	width: 80%;
}
.deed-show-title {
	font-size: 28px;
}
// .deed-header-container {
// 	margin-left: 2%;
// 	margin-right: 2%;
// }

/************************************/
/********* HOMEPAGE BAR *************/
/************************************/
.friendindeed p {
	color: #ffffff;
	font-family: 'Sacramento', cursive;
	font-size: 90px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 0px;
	background-color: #F15545;
	width: 360px;
}
.navbar {
	background-color: transparent;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-left: 0px;
	border-color: white;
	border-bottom-style: solid;
	border-radius: 0px;
}
.navbar-override {
	height: 70px
}

/************************************/
/************** NAVBAR **************/
/************************************/
.navbar-default 
.navbar-text {
	color: #ffffff;
}
.navbar-text {
	font-family: 'Sacramento', cursive;
	font-size: 54px;
	color: #ffffff;
	margin: 0px 0px 5px 0px;
}
.navbar-right-override {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding-top: 25px;
	color: #3E5967;
}
.navbar-right-override > a {
	color: #3E5967;
}
.navbar-right-override > a:hover {
	color: #ffffff;
	text-decoration: none;
}
strong > a {
	color: #3E5967;
}
strong > a:hover {
	color: #ffffff;
	text-decoration: none;
}

/************************************/
/************** BUTTON **************/
/************************************/
.btn-signin {
	background: transparent;
	border-radius: 4px;
	color: #ffffff;
	font-size: 30px;
	padding: 20px 25px;
	text-decoration: none;
	border: solid 1px #ffffff;
	position: absolute;
	bottom: 70px;
	right: 90px;
}
.btn-signin:hover,
.btn-signin:focus{
	background-color: white;
	color: #F15545;
	outline: none;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
	cursor: pointer;
	text-decoration: none
}

.btn-custom {
	background: transparent;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 15px;
	border: 1px solid #ffffff;
	width: 140px;
	height: auto;
	margin: 5px 0px;
	outline: none;
	
}
.btn-custom:hover,
.btn-custom:focus {
	background: #ffffff;
	color: #F15545;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
	text-decoration: none;
}
.btn-custom-alt {
	background: #F15545;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 18px;
	padding: 10px 15px;
	border: 1px solid #F15545;
	width: 140px;
	height: auto;
	margin: 5px 0px;
	outline: none;
}
.btn-custom-alt:hover,
.btn-custom-alt:focus {
	background: #FFFFFF;
	color: #F15545;
	transition: background-color 0.3s ease-out, 
				border-color 0.3s ease-in;
}
.btn-profile{
	width: auto;
}

/************************************/
/***** Removes button outline *******/
/************************************/
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
	outline: none;
}

/************************************/
/*************** MODAL **************/
/************************************/
.form-control {
	color: #3E5967;
}
#myModalLabel {
	font-size: 20px;
	font-weight: bold;
	color: #F15545;
}

.fblogo {
	width: 142px;
	height: 48px;
	margin: 5px 0;
}
.fblogo:hover {
	transition: background-color 0.2s ease-out, 
				border-color 0.2s ease-in;	
	border: 1px  solid white
}

/************************************/
/************ DEED CARD *************/
/************************************/
.deedcard{
	background-color: white;
	height: 380px;
	font-size: 14px;
	// padding: 10px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	margin-bottom: 10px;
}
.deed-container {
	width: 90%;
	margin: auto
}

// .card-container {
// 	width: 80%;
// 	// display: block;

// }
/***** DUMP **********/

// .friendindeed p::before,
// .friendindeed p::after {
// 	content: "";
// 	display: inline-block;
// 	height: 1px;
// 	position: relative;
// 	vertical-align: middle;
// 	width: 20%;
// 	background: rgba(0, 0, 0, 0.2);
// }
// .btn-fb {
//     background:  #3B5998;
//     border-radius: 4px;
//     color: #ffffff;
//     font-size: 18px;
//     padding: 10px 15px;
//     border: 1px solid #3B5998;
//     width: 140px;
//     height: auto;
// }
// .fblogo{
//     background-image: url("fb-logo-29.png");
//     background-repeat: no-repeat;
//     margin-left: 18px;
//     background-size: contain;
//     position: inline-block;
    
// }
// .fb-logo-txt {
//     margin-left: 27px;
// }

/************************************/
/************** SOMETHING **************/
/************************************/
// .row {
// 	margin-top:  80px;
// 	height: 525px;
// 	margin-left: auto;
// 	margin-right: auto;
// }
.bggrid {
	// background-color: black;
	background-color: transparent;
}
.blah {
	width: auto;
	height: 500px;
	border: 1px solid white;

}
.pagenum {
	font-size: 350px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	// line-height: 164px;
}
