<!DOCTYPE html>
<html>
<head>
  <title>Friendindeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>


<body>
  <div class="container-fluid">
    <%#= render "partials/nav" %>   
    <%= yield %>
  </div>
</body>



</html>


<!-- Javascript Code for Facebook Share button -->
<!--  <div id="fb-root"></div> -->


<!-- Displays the current user helper method if user is logged in -->
  <!--   <div id="user-widget">
      <%# if current_user %>
        Welcome <strong><%#= current_user.name %></strong>!
        <%#= link_to "Sign out", signout_path, id: "sign_out" %>
      <%# else %>
        <%#= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <%# end %>
    </div> -->